.about__desc{
    margin-left: -145px;
    margin-top: 97px;
  }
  .about__img{
    display:inline-block;
    width: 505px;
    height: 490px ;
    
  }
  
.about-section{
  padding: 192px 0 162px 0 ;

}