.breadcrumbs__item{
    display:inline-block;
    vertical-align: middle;
    color: #9A9A9A;

  }
  .breadcrumbs__link{
    font-size: 14px;
   text-decoration-line: underline;
  }
  .breadcrumbs{
      padding-bottom: 23px; 
  }
  .breadcrumbs__item_active .breadcrumbs__link{
    font-weight: bold;
  }