.button{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    min-width: 165px;
    padding: 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 8px 35px 0px #DFB56D59;
    cursor: pointer;
    }
    
    
    .button_black{
    background-color:#2B2B2B;
    
    }
    .button_orange{
    background: #DFB56D;
    }
    .button:hover{
      background: #DFB56D;
    }