.footer__container{
    border-top:1px solid rgba(255, 255, 255, 10% ) ;
    padding: 42px 0 57px 0;
    display: flex;
    justify-content: space-between;
  }
  .footer__left{
    display: flex;
    align-items: center;
  }
  .footer__menu{
    margin-left: 90px;
  }
  .footer__right{
    display:flex;
    align-items: center;
  }
  .footer__social{
    margin-right: 75px;
  }
  .footer{
    margin-top: 53px;
  }
  .footer_black{
    background-color: #29282D ;
  }