.partners{
    background: #F4F5F5;
    padding:88px 0px 42px 0px ;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -85px;
}
.partners__item{ 
    margin-left: 85px;
    display:flex ;
    justify-content: space-between;
    margin-bottom: 75px;
    
}
 .partners__img{
     max-width: 100%;
 }
