body{
  color: #fff;
  font-family:'Open Sans', sans-serif;
  font-size: 16px ;
  line-height: 1.42 ;
  background:#2f2f30 ;

}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.container{
  margin: 0 auto;
  max-width: 1150px;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
}
.header__left{
  display: flex;
  align-items: center;
}
.header__menu{
  margin-left:80px ;
}
.logo{
 display: block;
}

a{
  color: inherit;
 }

.menu__item{
  display:inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.menu__link{
  font-size: 14px;
 text-decoration: none;
}
.menu__link:hover{
  color: #D3A557;
  
}
.contactes{
  flex-direction: column;
  display: flex;
font-size: normal;
align-self: flex-end;



}
.contactes__phone{
  text-decoration: none;
  font-size: 26px;
 
}
.contactes__workhours{
  position: relative;
  font-size: 13px;
  color: #D3A557;
  text-align: right;


}
.contactes__workhours:hover .dropdown{  
  opacity: 1;
  visibility: visible;


} 
.dropdown{
  position:absolute;
  border-radius: 4px;
  background:#ffff;
  padding: 10px;
  right: 0;
  top:calc( 100% + 15px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  background: #EDEDED;

}
.dropdown::after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height:15px;
  top: -15px;
  


}
.dropdown::before{
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  border-radius: 3px;
   background: #fff;
   transform: rotate(45deg) translate(80%);
  width: 15px;
  height:15px;
  top: -15px;
  background: #EDEDED;

}
.dropdown__item{
font-family:'Open Sans', sans-serif; ;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 10px;
text-align: center;
color:  #1E1F20;
}

.button{
font-weight: 700;
font-family: 'Open Sans', sans-serif;;
font-size: 14px;
align-items: center;
color: #fff;
text-transform: uppercase;
min-width: 165px;
padding: 20px;
border-radius: 3px;
border: none;
box-shadow: 0px 8px 35px 0px #DFB56D59;
cursor: pointer;
}


.button_black{
background-color:#2B2B2B;

}
.button_orange{
background: #DFB56D;
}
.button:hover{
  background: #DFB56D;
}
.social-icons{
  display:inline-flex;
  cursor: pointer;
 
  }
.social-icons li img {
  margin-right: 10px;
  padding-top: 40px;
  opacity: 15%;
  }
  .social-icons__png:hover{
    opacity: 100%;
  }  
  .title{
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
   
    text-align: flex-end;
  }
  .card{
    background:url(cards/card.png) top 0 right 0, #fff;
    background-repeat: no-repeat;
    max-width: 362px; 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 26px 20px ;
  
    }
  .card__img{
    margin-bottom: 73px;

  }
.card__name{
  color:#000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
font-size: 24px;
line-height: 28px;
margin-bottom: 18px;
align-self: flex-start;
}
.card__lead{
font-size: 36px;
line-height: 42px;
color: #000000;
margin-bottom: 4px;
}
.card__text{
  color: #666666;
font-size: 16px;
line-height: 21px;

}
.card__feature{
 display: flex;
flex-direction: column;
}
.card__list{
  display: flex;
  margin-bottom: 48px;
}
.cards{

  display: flex;
  justify-content: space-between;
}
.card_blue{
  background: url( cards/cards.png)top 0 right 0, #fff;;
  background-repeat: no-repeat;
}
.card_gold{
  background: url(cards/card2bg.png)top 0 right 0, #fff;;
  background-repeat: no-repeat;
}
.paginator{
display:flex;
align-items: center;

}

.paginator__item{
  display:inline-block;
  
 
}

.paginator__link{
  display:flex;
align-items: center;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  width: 32px;
  height: 32px;;
  border-radius: 50%;
}
.paginator__link:hover{
background: #353439;
 

}
.paginator__display{
font-family: 'Open Sans';
font-size: 16px;
padding: 20px;
}
